.menu-item{
    position: relative !important;
}
.menu-item:hover .sub-menu1{
    display: block;
    animation: fadeInUp 400ms;
}
.sub-menu1{
    position: absolute;
    top: 0;
    left: 220px;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    display: none;
    z-index: 999;
}
